<p>Ya puedes empezar a usar Slach!</p>

<p>Tu Slach está listo.</p>

<p>La próxima vez que quieras recibir un pago, solo debes mandar el link www.slach.cl/<%= @user.alias %></p>

<p>Además, puedes crear un Slach con el monto de pago. Por ejemplo slach.cl/<%= @user.alias %>/10000 para cobrar $10.000 CLP.</p>

<p>¡Adiós y buenos Slachssss!</p>
