<p>Bienvenido a Slach <%= @resource.name %>!</p>

<p>Para empezar a usar Slach debes confirmar el mail. Lo debes hacer con el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta de Slach', confirmation_url(@resource, confirmation_token: @token) %></p>
